---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Projets from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
	<Hero />

	<Skills />
	<Projets />
	<section>
		<!-- Composants projets -->    
	</section>
	<Contact />
</Layout>
