---

---

<section id="contact" class="flex justify-center items-center py-16 md:py-32">

    <div class="bg-[#313552] flex flex-col justify-center items-center gap-4 p-8 w-[300px]">
        <h2 class="text-xl md:text-2xl text-[#ffc576] font-semibold uppercase w-fit">Me contacter</h2>

        <p class="text-lg font-bold">hugolacosse.pro@gmail.com</p>
    </div>
</section>

