---

import Booki from           '../assets/thumbnail/booki.png';
import SophieBluel from     '../assets/thumbnail/sophiebluel.png';
import NinaCarducci from    '../assets/thumbnail/ninacarducci.png';
import Kasa from            '../assets/thumbnail/kasa.png';

import Card from '../components/Card.astro';
---

<section id="projets" class="pt-24 md:pt-40 pb-24 md:pb-40">
    <h2 class="text-xl md:text-2xl text-[#ffc576] font-semibold uppercase pb-16 text-center">Mes projets</h2>

    <div class="flex flex-col lg:grid lg:grid-cols-(--my-grid-cols) justify-center items-center lg:items-stretch gap-16">
        <Card
            image={Booki}
            url="/p8-portfolio/blog/Booki"
            tags="Html, css, git"
            title="Booki"
            description="Intégration responsive du nouveau site de Booki"
        />
        <Card
            image={SophieBluel}
            url="/p8-portfolio/blog/SophieBluel"
            tags="Html, css, javascript, git"
            title="Portfolio de Sophie Bluel"
            description="Intégration du portfolio de Sophie Bluel"
        />
        <Card
            image={NinaCarducci}
            url="/p8-portfolio/blog/NinaCarducci"
            tags="Seo, Html, Javascript, git"
            title="Portfolio de Nina Carducci"
            description="Optimisation du référencement et des performances du portfolio de Nina Carducci"
        />
        <Card
            image={Kasa}
            url="/p8-portfolio/blog/Kasa"
            tags="React, Sass, git"
            title="Kasa"
            description="Implémenter le front-end d'une application en utilisant React pour créer une expérience utilisateur moderne et réactive"
        />
        
    </div>
</section>
