---
---

<section id="skills" class="bg-[#313552] flex flex-col justify-center items-center gap-8 pt-16 md:pt-32 pb-16 md:pb-32">

    <div class="flex flex-col justify-start items-center lg:items-start">

        <h2 class="text-xl md:text-2xl text-[#ffc576] font-semibold uppercase w-fit">Mes compétences</h2>

        <div class="flex flex-col lg:flex-row gap-8 pt-12">
            <article class="flex flex-col justify-between border-1 border-[#ffc576] p-4 w-[300px]">
                <h3 class="text-lg font-semibold">Intégration et Développement Frontend</h3>
                <p class="mt-4">Réalisation d'interfaces modernes et responsives. Je transforme vos maquettes en code optimisé pour le SEO et une expérience utilisateur fluide et intuitive.</p>
            </article>

            <article class="flex flex-col justify-between border-1 border-[#ffc576] p-4 w-[300px]">
                <h3 class="text-lg font-semibold">Développement Backend</h3>
                <p class="mt-4">Conception d'APIs performantes et sécurisées. Gestion des bases de données et optimisation des requêtes pour créer des backends fiables et évolutifs.</p>
            </article>

            <article class="flex flex-col justify-between border-1 border-[#ffc576] p-4 w-[300px]">
                <h3 class="text-lg font-semibold">Déploiement et Maintenance</h3>
                <p class="mt-4">Mise en ligne de vos projets sur l'hébergement de votre choix. Prestations de maintenance corrective, préventive et évolutive selon vos besoins.</p>
            </article>

        </div>
    </div>
</section>
